strict-ssl=false
registry=https://registry.npmjs.org/

# Prisma settings
PRISMA_BINARIES_MIRROR=https://binaries.prisma.sh/
PRISMA_ENGINES_MIRROR=https://binaries.prisma.sh/
PRISMA_QUERY_ENGINE_BINARY=${PRISMA_QUERY_ENGINE_BINARY}
PRISMA_QUERY_ENGINE_LIBRARY=${PRISMA_QUERY_ENGINE_LIBRARY}
PRISMA_INTROSPECTION_ENGINE_BINARY=${PRISMA_INTROSPECTION_ENGINE_BINARY}
PRISMA_FMT_BINARY=${PRISMA_FMT_BINARY}

# Skip SSL verification for Prisma binaries
NODE_TLS_REJECT_UNAUTHORIZED=0